/*=====================
        BASICS
  =====================*/


body {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #222;
}
/*=====================
      TYPOGRAPHY
  =====================*/

.title {
  color: #CD4734;
  font-size: 500%;
  font-style: italic;
  letter-spacing: -0.1em;
}

h3 {
  color:#fff;
  font-size: 120px;
  text-align: center;
  line-height: 120px;
  position: absolute;
  letter-spacing: -0.1em;
  width:700px;
  left: 365px;
}

.scoreboard, .instructions {
  font-size: 200%;
  text-align: center;
  
}
.red {
  color: #CD4734;
}
.blue {
  color: #658FDE;
}

.key {
  line-height: 40px;
}
button {
  font-size: 100%;
  height: 40px;
}
button:focus {
  outline:0;
}

/*=====================
      INFO PANELS
  =====================*/
.title {
  margin-left: 50px;
  margin-bottom: 20px;
}
.scoreboard {
  position: fixed;
  background-color: #ddd;
  padding: 20px 6px 6px 6px;
  top: 0px;
  right: 40px;
  border-radius: 0 0 5px 5px;
  
}
.scoreboard * {
  padding: 5px;
}

.instructions {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #ddd;
}
.column {
  width: 30%;
  height: 40px;
  display: inline-block;
}
.key {
  display: inline-block;
  border: #222 solid 1px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  box-shadow: 3px 3px 2px #222;
}
button {
  display: inline-block;
  border: #222 solid 1px;
  border-radius: 5px;
  height: 40px;
  box-shadow: 3px 3px 2px #222;
  padding: 0 6px;
}
button:hover {
  cursor: pointer;
}


/*=====================
      TRACK
  =====================*/


.play_area {
  margin: 0 auto;
  width: 1100px;
}

#startlineTop, #startlineBottom {
  display: inline-block;
  float: right;
  height: 200px;
  width: 550px;
  border-left: 1px dashed #222;
  background: rgba(1,1,1,0);
}
#startlineBottom {
  position: relative;
  top:100px;
}

#track {
  width: 700px;
  height: 100px;
  background-color: #222;
  border: solid #E8BC80 200px;
  border-radius: 250px;
  margin: 0 auto;
}

/*=====================
      SPRITES
  =====================*/


#sprite1, #sprite2 {
  width: 60px;
  height: 22px;
  position:absolute;
  display: inline-block;
}
#sprite1 {
  left: 660px;
  top: 190px;
}
#sprite2 {
  left: 720px;
  top: 450px;
}

#sprite1 img, #sprite2 img {
  width: 60px;
  transform-origin:center, center;
  -webkit-transform-origin:center, center;
  -moz-transform-origin:center, center;
}

#sprite2 img {
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  transform-origin:center, center;
  -webkit-transform-origin:center, center;
  -moz-transform-origin:center, center;

}





